<!DOCTYPE html>
<html>
<head>
  <title>Meiserauth</title>
  <%= stylesheet_link_tag    "meiserauth/application", :media => "all" %>
  <%= javascript_include_tag "meiserauth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
